.dashboard-container {
    padding: 20px;
    text-align: center;
}

.header, .section-container {
    display: flex;
    justify-content: space-around;
}

.section {
    width: 90%;
    max-width: 800px;
}

.inventory-summary, .recent-activity, .recent-orders {
    margin: 10px;
    text-align: center;
}

.inventory-summary h4, .recent-activity h4, .recent-orders h4 {
    margin: 0;
    margin-bottom: 20px;
}

.activities {
    text-align: center;
}

.paragraph, .paragraph-g {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0.1 px 0.1px 1px 1px;
}

.paragraph-g {
    color: rgb(148, 146, 146);
}

.cards {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}








/* .dashboardheader {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: 30px;
}

.inventory-summary {
    margin-left: 200px;
}
.inventory-summary h4 {
    margin-left: 100px;
    margin-bottom: 0;
    margin-top: 50px;
}

.cards {
    display: flex;
    margin-top: -75px;
}

.recent-activity {
    margin-top: 200px;
    margin-left: 300px;
}

.paragraph {
    width: 700px;
    border-radius: 5px;
    box-shadow: 1px 1px;
}

.paragraph-g {
    width: 700px;
    border-radius: 5px;
    box-shadow: 1px 1px;
    color: rgb(148, 146, 146);
}

.recent-orders {
    width: 550px;
    margin-left: 300px;
}

.recent-orders-cards {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
} */