.login {
    width: 300px;
    height: 350px;
    background-color: rgb(113, 250, 113);
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
}

/* .login-form {
    margin: 0 auto;
    width: 300px;
    height: 200px;
    background-color: rgb(104, 244, 104);
    border-radius: 5px;
}

.top {
    margin: 0 auto;
    width: 300px;
    background-color: rgb(93, 249, 93);
    height: 50px;
    padding-top: 10px;
} */

.input-field {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.btn {
    margin-top: 15px;
    width: 75px;
    background-color: grey;
    color: white;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    font-size: 17px;
    background-color: rgb(180, 176, 176);
}

.btn-signup a {
    font-size: 13px;
    padding: 3px;
    text-decoration: none;
    color: white;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
}

.btn-signup a:hover {
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(180, 176, 176);
}

.success {
    width: 300px;
    height: 100px;
    background-color: rgb(111, 252, 111);
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
}

.success p a {
    font-size: 13px;
    padding: 3px;
    text-decoration: none;
    color: white;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
}

.success p a:hover {
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(180, 176, 176);
}