.nav-bar-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(83, 168, 86, 1);
} 

.nav-bar-sign-button-container {
    flex: 0 1 auto;
}

.nav-bar-menu-buttons-container {
    flex: 1;
    overflow: auto;
}

.nav-bar-button {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(239, 239, 239, 1);
}

.navlink {
    color: black;
    text-decoration: none;
}

.nav-bar-button > * {
    vertical-align: middle;
} 

.logo {
    width: 200px;
    height: 100px;
}


