.grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: max-content;
    position: relative;
    grid-template-areas: "sidebar";
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(72, 205, 72);
}



.grid {
    /* text-align: center; */
    width: 200px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(182, 246, 182);
}

.grid > * {
    vertical-align: middle;
}

.navlink {
    color: black;
    text-decoration: none;
}

.signin {
    width: 200px;
    font-size: 20px;
    padding: 10px;
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(182, 246, 182);
}

.signin > * {
    vertical-align: middle;
}

.logo {
    width: 200px;
    height: 100px;
}


