.grid-container {
    display: grid;
    /* grid-template-rows: 100% auto; */
    grid-template-columns: 350px auto;
    position: relative;
    grid-template-areas: "sidebar";
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(118, 246, 118);
    /* align-items: center; */
}

.grid {
    font-size: 25px;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(142, 210, 142);
}



.navlink {
    color: black;
    text-decoration: none;
}

.signin {
    font-size: 25px;
    padding: 20px;
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(142, 210, 142);
}

.logo {
    width: 200px;
    height: 100px;
}


